@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');


.navbar {
    width: 100%;
    background-color: red;
    height: 240px;
    background: url(/bgCardapio.jpg) no-repeat;
    background-size: cover;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;

    @apply lg:h-36
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    height: auto;
    font-family: 'Urbanist', sans-serif;
    margin-top: 30px;
}

.carrinho {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:rgba(52, 15, 64, 0.869792);
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrinhoIcon {
    color: white !important;
    font-size: 40px !important;
}

.produto {
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    /* border-left: 3px solid #EAAB51; */
    margin: 0 0 20px 0;

    @apply lg:flex-col lg:gap-5 lg:items-start
}

.produto:hover {
    background-color: #f5e7d8;
}

.info {
    max-width: 500px;
}

.info h1{
    margin: 0;
}

.info p {
    color: rgb(127, 143, 159);
}

.actions {
    display: flex;
    gap: 25px;
    font-size: 1rem;
}

.categoria {
    padding: 10px 0;
}

.categoriaTitle {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #c07e20;
    line-height: 0.1rem !important;
    margin: 60px 0 50px 0; 

    @apply text-4xl
}

.categoriaTitle span { 
    background:#FFF1E1; 
    padding:0 10px; 
}

.buttonCartadd {
    color: #3a2509;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid #c07e20;
    padding: 10px 30px;
    transition: all 0.5s ease-out;
}

.buttonCartremove {
    background-color: #c07e20;
    color: white;
    padding: 10px 30px;
    transition: all 0.5s ease-in;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid #c07e20;
}

.categoriaContainerFixed {
    width: 100%;
    position: fixed;
    padding: 7px 0;
    top: 110px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.9);

    @apply sm:top-20
}

.categoriaFixed {
    width: 1300px;
    padding: 0 5px;
    margin: 0 auto;
    z-index: 100;

    @apply lg:w-full
}

.containerCategoria {
    height: 50px;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
}

.containerCategoria::-webkit-scrollbar {
    display: none;
}

.categoriaItem {
    background-color: #ddb277;
    width: 100% !important;
    margin: 0 .5rem;
    border-radius: 16px;
    color: black;
    border: 1px solid white;
    font-size: 1rem;
    cursor: pointer;
    height: 50%;
    padding: 0 2rem;
    white-space: nowrap;
}

.mobileSlide {
    display: none;
    align-items: center;
}

.desktopSelect {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
}

@media only screen and (max-width: 639px) {
    .desktopSelect {
      display: none;
    }

    .mobileSlide {
        display: flex;
    }
}