
.produto {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 2px solid rgb(167, 168, 167, 0.4);
}

.nomeProduto {
    width: 60%;
}

.carrinho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93%;

    @apply lg:h-5/6
}

.carrinho button, .fazerPedido button {
    font-family: 'Paytone One', sans-serif;
    color: white;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 60px;
    background: #EAAB51;
    /* margin-top: 15px; */
    cursor: pointer;
}

.carrinho button:hover, .fazerPedido button:hover {
    transition: 0.3s ease;
    background: #ca9346;
}

.produtos {
    width: 100%;
    height: 100%;
    overflow: auto;
}