.produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;
}

.nomeProduto {
    width: 60%;
}

.carrinho button, .fazerPedido button {
    font-family: 'Paytone One', sans-serif;
    color: white;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 60px;
    background: #EAAB51;
    cursor: pointer;
}

.carrinho button:hover, .fazerPedido button:hover {
    transition: 0.3s ease;
    background: #ca9346;
}

.carrinho {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pedidoForm {
    display: flex;
    flex-direction: column;
}

.produtos,
.pedidoForm {
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.produtos {
    height: calc(100% - 200px);
}

.pedidoForm {
    height: calc(100% - 215px);
}


.fazerPedido {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.fazerPedido,
.fazerPedido form {
    height: 100%;
}