.slide {
    width: 516px;
    height: 387px;
}

.slide1,
.slide2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.slide1 {
    background-image: url(/slide1.jpg);
}

.slide2 {
    background-image: url(/slide2.jpg);
}